<h1>Calculator</h1>

<div id="calculator">
  <div class="row">
    <div id="printout-header" class="col-md-3 col-md-offset-5">CALCULATED SUM</div>
  </div>
  <div class="row">
    <div id="printout" class="col-md-3 col-md-offset-5">0</div>
  </div>
  <div class="row">
    <% (1..10).to_a.each do |number| %>
      <div class="box col-md-3 col-md-offset-1" onclick="add(<%= number %>)"><%= number %></div>
    <% end %>
    <div class="box col-md-3 col-md-offset-5" onclick="add('Reset')">Reset</div>
  </div>
  
</div>
