<h2 onclick="checkElement(this)">"This" in JavaScript</h2>
<p onclick="checkElement(this)">Adding a JavaScript event (e.g. 'onlick') with 'this' will pass the given DOM element</p>
<p onclick="checkElement(this)">The entire DOM Element gets passed including <span id="nested-example">nested elements.</span></p>
<br>
<br>
<br>

<h2 id="second-title">Use JavaScript to Manipulate HTML DOM Elements</h2>
<p onclick="findSecondTitle()">JavaScript can search the DOM for a specific element</p>
<p onclick="changeSecondTitle()">You can also change DOM element contents.</p>
<br>
<br>
<br>

<h2>Change attributes</h2>
<p onclick="changeImage()">Including attribute values!</p>
<img src="/assets/puppy.jpg" id="pet-image">
<br>
<br>
<br>

<h2>Change CSS Properties</h2>
<p onclick="changeBackgroundAndText()">And we can change CSS properties as well by searching for the html element or using the <code language="javascript">this</code> keyword.</p>
<p id="css-example">I have no colored background.</p>

<p onclick="finishSentence(this)">Combining "This" with the manipulation of DOM Elements, </p>

<br>
<br>
<br>
